---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: "rjain/buildbox"

params:
  OPS_MGR_HOST:
  OPS_MGR_USR:
  OPS_MGR_PWD:
  SINGLETON_JOB_AZ:
  OTHER_JOB_AZS:
  NETWORK_NAME:
  JMX_ADMIN_USR:
  JMX_ADMIN_PWD:
  JMX_SECURITY_LOGGING:
  JMX_USE_SSL:

inputs:
  - name: pcf-pipelines
  - name: tool-om

run:
  path: pcf-pipelines/tasks/config-ops-metrics/task.sh
