---

platform: linux

image_resource:
  type: docker-image
  source:
    repository: pcfnorm/rootfs

params:
  IAAS:
  OPSMAN_DOMAIN_OR_IP_ADDRESS:
  OPS_MGR_USR:
  OPS_MGR_PWD:
  ERT_SINGLETON_JOB_AZ:
  DEPLOYMENT_NW_AZS:
  NETWORK_NAME:
  ENABLE_SECURITY_EVENT_LOGGING:
  SYSLOG_HOST:
  SYSLOG_PORT:
  SYSLOG_PROTOCOL:
  SYSLOG_DRAIN_BUFFER_SIZE:
  COMPANY_NAME:
  AUTHENTICATION_MODE:
  LOGGREGATOR_ENDPOINT_PORT:
  SAML_SSL_CERT:
  SAML_SSL_PRIVATE_KEY:
  HAPROXY_FORWARD_TLS:
  HAPROXY_BACKEND_CA:
  ROUTER_TLS_CIPHERS:
  HAPROXY_TLS_CIPHERS:
  FRONTEND_IDLE_TIMEOUT:
  DISABLE_HTTP_PROXY:
  TCP_ROUTING:
  TCP_ROUTING_PORTS:
  ROUTE_SERVICES:
  IGNORE_SSL_CERT:
  SECURITY_ACKNOWLEDGEMENT:
  SMTP_FROM:
  SMTP_ADDRESS:
  SMTP_PORT:
  SMTP_USER:
  SMTP_PWD:
  SMTP_ENABLE_STARTTLS_AUTO:
  SMTP_AUTH_MECHANISM:
  LDAP_URL:
  LDAP_USER:
  LDAP_PWD:
  SEARCH_BASE:
  SEARCH_FILTER:
  GROUP_SEARCH_BASE:
  GROUP_SEARCH_FILTER:
  MAIL_ATTR_NAME:
  FIRST_NAME_ATTR:
  LAST_NAME_ATTR:
  SYSTEM_DOMAIN:
  APPS_DOMAIN:
  DEFAULT_QUOTA_MEMORY_LIMIT_IN_MB:
  DEFAULT_QUOTA_MAX_SERVICES_COUNT:
  HA_PROXY_IPS:
  SKIP_CERT_VERIFY:
  DISABLE_INSECURE_COOKIES:
  ROUTER_STATIC_IPS:
  ROUTER_REQUEST_TIMEOUT_IN_SEC:
  MYSQL_MONITOR_EMAIL:
  ALLOW_APP_SSH_ACCESS:
  TCP_ROUTER_STATIC_IPS:
  SSH_STATIC_IPS:
  MYSQL_STATIC_IPS:
  CONSUL_SERVER_INSTANCES:
  CREDHUB_INSTANCES:
  NATS_INSTANCES:
  NFS_SERVER_INSTANCES:
  MYSQL_PROXY_INSTANCES:
  MYSQL_INSTANCES:
  BACKUP_PREPARE_INSTANCES:
  UAA_INSTANCES:
  CLOUD_CONTROLLER_INSTANCES:
  HA_PROXY_INSTANCES:
  HA_PROXY_LB_NAME:
  HAPROXY_FLOATING_IPS:
  ROUTER_INSTANCES:
  MYSQL_MONITOR_INSTANCES:
  CLOCK_GLOBAL_INSTANCES:
  CLOUD_CONTROLLER_WORKER_INSTANCES:
  DIEGO_DATABASE_INSTANCES:
  DIEGO_BRAIN_INSTANCES:
  DIEGO_CELL_INSTANCES:
  DOPPLER_INSTANCES:
  LOGGREGATOR_TRAFFICCONTROLLER_INSTANCES:
  TCP_ROUTER_INSTANCES:
  SYSLOG_ADAPTER_INSTANCES:
  SYSLOG_SCHEDULER_INSTANCES:
  INTERNET_CONNECTED:
  CONTAINER_NETWORKING_NW_CIDR:
  TCP_ROUTER_NSX_SECURITY_GROUP:
  TCP_ROUTER_NSX_LB_EDGE_NAME:
  TCP_ROUTER_NSX_LB_POOL_NAME:
  TCP_ROUTER_NSX_LB_SECURITY_GROUP:
  TCP_ROUTER_NSX_LB_PORT:
  ROUTER_NSX_SECURITY_GROUP:
  ROUTER_NSX_LB_EDGE_NAME:
  ROUTER_NSX_LB_POOL_NAME:
  ROUTER_NSX_LB_SECURITY_GROUP:
  ROUTER_NSX_LB_PORT:
  DIEGO_BRAIN_NSX_SECURITY_GROUP:
  DIEGO_BRAIN_NSX_LB_EDGE_NAME:
  DIEGO_BRAIN_NSX_LB_POOL_NAME:
  DIEGO_BRAIN_NSX_LB_SECURITY_GROUP:
  DIEGO_BRAIN_NSX_LB_PORT:
  MYSQL_NSX_SECURITY_GROUP:
  MYSQL_NSX_LB_EDGE_NAME:
  MYSQL_NSX_LB_POOL_NAME:
  MYSQL_NSX_LB_SECURITY_GROUP:
  MYSQL_NSX_LB_PORT:
  ROUTING_TLS_TERMINATION:
  ROUTING_CUSTOM_CA_CERTIFICATES:
  CREDUB_ENCRYPTION_KEY_NAME1:
  CREDUB_ENCRYPTION_KEY_SECRET1:
  CREDUB_ENCRYPTION_KEY_NAME2:
  CREDUB_ENCRYPTION_KEY_SECRET2:
  CREDUB_ENCRYPTION_KEY_NAME3:
  CREDUB_ENCRYPTION_KEY_SECRET3:
  CREDHUB_PRIMARY_ENCRYPTION_NAME:
  POE_SSL_NAME1:
  POE_SSL_CERT1:
  POE_SSL_KEY1:
  POE_SSL_NAME2:
  POE_SSL_CERT2:
  POE_SSL_KEY2:
  POE_SSL_NAME3:
  POE_SSL_CERT3:
  POE_SSL_KEY3:
  OPSMAN_CLIENT_ID:
  OPSMAN_CLIENT_SECRET:

inputs:
  - name: pcf-pipelines

run:
  path: pcf-pipelines/tasks/config-ert/task.sh
